body {
  background-color: #f3f3f3;
  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
}

.price {
  text-align: center;
}

.current-price {
  font-size: 4rem;
}
